.backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .is-hidden &__modal {
        transform: scale(2) rotate(180deg);
    }
    &__modal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1) rotate(0);
        width: 528px;
        min-height: 581px;
        background-color: var(--white-color);
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__btn {
        position: absolute;
        top: 8px;
        right: 8px;
        background-color: var(--white-color);
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        width: 30px;
        height: 30px;
        cursor: pointer;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
            border-color: var(--accent-color);
        }
    }
    &__icon-close {
        width: 100%;
        height: 100%;
        fill: #000000;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__btn:hover &__icon-close,
    &__btn:focus &__icon-close {
        fill: var(--accent-color);
    }
    &__title {
        display: inline-block;
        margin-top: 40px;
        margin-left: 41px;
        font-weight: 700;
        font-size: 20px;
        line-height: 1.15;
        letter-spacing: 0.03em;
    }
    &__form {
        display: block;
        padding-left: 41px;
        padding-right: 39px;
        padding-top: 2px;
        padding-bottom: 40px;
    }
    &__field {
        margin-top: 10px;
    }
    &__label {
        color: var(--secondary-text-color);
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.01em;
    }
    &__input {
        margin-top: 4px;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 42px;
        padding-right: 12px;
        width: 100%;
        height: 40px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        cursor: pointer;
        outline: none;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:focus {
            border-color: var(--accent-color);
        }
    }
    &__icon {
        position: absolute;
        left: 15px;
        top: 50%;
        transform: translateY(-50%);
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__control:focus-within &__icon {
        fill: var(--accent-color);
    }
    &__control {
        position: relative;
    }
    &__comment {
        margin-top: 4px;
        padding: 12px 16px;
        width: 100%;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        cursor: pointer;
        outline: none;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        height: 120px;
        resize: none;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
        &:focus {
            border-color: var(--accent-color);
        }
    }
}