.team {
    background-color: var(--bg-white2-color);
    padding-top: 94px;
    padding-bottom: 94px;

    &__container {
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
    }

    &__item {
        background-color: var(--white-color);
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
    }

    &__description {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    &__name {
        margin-bottom: 10px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
    }

    &__position {
        color: var(--secondary-text-color);
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
        margin-bottom: 16px;
    }
}